.gg-filters {
  display: block;
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs,1));
  width: 19px;
  height: 19px;
  background:
  radial-gradient(
  circle,
  currentColor 26%,
  transparent 26%
  )
 }
 
 .gg-filters::after,
 .gg-filters::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
  border-radius: 100%;
  width: 14px;
  height: 14px
 }
 
 .gg-filters::after {
  bottom: 0;
  right: 0
 } 

#sidebar {
    text-align: center;
    padding: 2rem 1rem;
    position: fixed;
    z-index: 999;
    /* background-color: #f8f9fa; */
  }
  
  #sidebar h2 {
    text-align: left;
    margin-bottom: 0;
  }
  
  /* Hide the blurb on a small screen */
  #blurb {
    display: none;
  }
  
  #sidebar-toggle {
    display: none;
  }
  
  #collapse *:first-child {
    margin-top: 1rem;
  }
  
  #page-content {
    padding: 2rem 1rem;
  }
  
  @media (min-width: 48em) {
    #sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 20rem;
      text-align: left;
      transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
      background-color: #f8f9fa;
    }
  
    #sidebar-toggle {
      display: inline-block;
      position: relative;
      top: 0;
      float: top;
      transition: top 0.3s ease-in-out;
      /* background-color: #f8f9fa; */

    }
  
    /* add negative margin to sidebar to achieve the collapse */
    #sidebar.collapsed {
      background-color: #FFFFFF;
      margin-left: -15.5rem;
      padding-right: 0.5rem;
    }
  
    /* move the sidebar toggle up to the top left corner */
    #sidebar.collapsed #sidebar-toggle {
      top: -2rem;
    }
  
    /* also adjust margin of page content */
    #sidebar.collapsed ~ #page-content {
      margin-left: 6.5rem;
    }
  
    /* move all contents of navbar other than header (containing toggle) further
       off-screen */
    #sidebar.collapsed > *:not(:first-child) {
      margin-left: -6rem;
      margin-right: 6rem;
    }
  
    /* reveal the blurb on a large screen */
    #blurb {
      display: block;
    }
  
    /* Hide the toggle on a large screen */
    #navbar-toggle {
      display: none;
    }
  
    #collapse {
      display: block;
    }
  
    /* set margins of the main content so that it doesn't overlap the sidebar */
    #page-content {
      margin-left: 22rem;
      margin-right: 2rem;
      transition: margin-left 0.3s ease-in-out;
    }
  }